@import scss-mixins
@import typography
@import icons

.social-icons
  h4
    display: inline-block
    margin: 20px 10px 0 0

  .icon
    display: inline-block
    margin: 0 5px

.fp_humidity, .fp_temperature
  fill: black

.fp_temperature
  stroke: #fff
  pointer-events: none

div.tooltip
  position: absolute
  text-align: center
  width: 60px
  height: 28px
  padding: 2px
  font: 12px sans-serif
  background: white
  border: 0px
  border-radius: 8px
  pointer-events: none
